{
    "env": {
      "commonjs": true,
      "es6": true,
      "node": true
    },
    // "extends": "eslint:recommended",
    "extends": [
        "eslint:recommended",
        "react-app",
        "react-app/jest"
    ],
    "parserOptions": {
      "ecmaVersion": 2020
    },
    "rules": {
      "no-console": "warn",
      "no-alert": "warn"
    }
}
